.link {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.actions {
    margin-top: 20px;
}

.container {
    height: 100vh;
    background: #ddb0722b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
