.header {
    background: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}